html,
body {
  /* 移动端为了占据满屏 高要设置为%100 */
    height: 100%;
    color: #333;
    background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {    
    list-style: none;
}

* {
    /* // touch-action: pan-y;
    // touch-action: none;  */
    box-sizing: border-box; 
}